.btn-modeBack {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.6em 2em;
    border: rgb(61, 57, 56) solid 0.15em;
    border-radius: 0.25em;
    color: rgb(61, 57, 56);
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
  }
  
  .btn-modeBack p {
    z-index: 1;
  }
  
  .btn-modeBack:hover {
    color: #212121;
  }
  
  .btn-modeBack:active {
    border-color: rgb(56, 55, 55);
  }
  
  .btn-modeBack::after, .btn-modeBack::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: rgb(61, 57, 56);
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
  }
  
  .btn-modeBack::before {
    left: 0;
    transform: translateX(-8em);
  }
  
  .btn-modeBack::after {
    right: 0;
    transform: translateX(8em);
  }
  
  .btn-modeBack:hover:before {
    transform: translateX(-1em);
  }
  
  .btn-modeBack:hover:after {
    transform: translateX(1em);
  }
  
  .btn-modeBack:active:before,
  .btn-modeBack:active:after {
    background: rgb(56, 55, 55);
  }